In [8]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', '{:.4f}'.format)

In [2]:
%%time
train = pd.read_csv('../data/train.csv')

CPU times: user 54 s, sys: 15.1 s, total: 1min 9s
Wall time: 2min

In [5]:
train.user_id.describe()

count    101230332.0000
mean    1076732424.2030
std      619716349.5006
min            115.0000
25%      540811564.0000
50%     1071781070.0000
75%     1615741676.0000
max     2147482888.0000
Name: user_id, dtype: float64

In [7]:
user_ids = list(train.user_id.unique())
len(user_ids)

393656

In [12]:
user_ids_mini = list(np.random.choice(user_ids, size = 100, replace = False))
user_ids_mini

[658520354,
 406901956,
 1953421360,
 1485450502,
 1929611621,
 1588132322,
 373598450,
 1258176764,
 2064777409,
 1223491298,
 1138522179,
 1501524575,
 1314342162,
 1920216032,
 2100847337,
 1490239788,
 235832844,
 1058520883,
 1327647142,
 761021960,
 2084988339,
 736371818,
 624222398,
 751871997,
 891642780,
 1102511752,
 82977466,
 94999086,
 217412465,
 1962993593,
 1769609168,
 1709810594,
 269060757,
 1866437135,
 1443598919,
 957818828,
 64764301,
 2047398903,
 1462950044,
 1165196379,
 1983836548,
 1054103172,
 584872865,
 634891095,
 2145262856,
 1875150524,
 1623215417,
 951606580,
 1944412002,
 562186265,
 106324700,
 1795317519,
 468048049,
 1807858704,
 337576619,
 900124353,
 878817883,
 519744118,
 1692505119,
 1154226251,
 2099100705,
 1014937471,
 348461215,
 2143636986,
 22318239,
 108822628,
 616580486,
 1143715769,
 845636456,
 137817081,
 367840615,
 1614228863,
 946026077,
 1071312962,
 141264833,
 1247503470,
 252941168,
 1269589690,
 1923451244,
 2088893187,
 1677852077,
 854863946,
 1962284087,
 1779147493,
 1420344126,
 789631718,
 237524996,
 1924325164,
 550366047,
 7136928,
 1319452599,
 1300608200,
 1191572932,
 515668244,
 235233876,
 53424674,
 409019335,
 761800801,
 616161602,
 51771056]

In [13]:
train_mini = train[train['user_id'].isin(user_ids_mini)].reset_index(drop = True)
train_mini.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,365541,0,7136928,7900,0,0,2,0,nan,NaN
1,365542,23989,7136928,7876,0,1,0,0,21000.0000,False
2,365543,48079,7136928,175,0,2,3,0,20000.0000,False
3,365544,74835,7136928,1278,0,3,1,0,21000.0000,False
4,365545,192811,7136928,2063,0,4,3,0,20000.0000,False

In [16]:
train_mini[train_mini['user_id'] == 7136928]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,365541,0,7136928,7900,0,0,2,0,nan,NaN
1,365542,23989,7136928,7876,0,1,0,0,21000.0000,False
2,365543,48079,7136928,175,0,2,3,0,20000.0000,False
3,365544,74835,7136928,1278,0,3,1,0,21000.0000,False
4,365545,192811,7136928,2063,0,4,3,0,20000.0000,False
5,365546,192811,7136928,2064,0,4,2,0,20000.0000,False
6,365547,192811,7136928,2065,0,4,2,1,20000.0000,False
7,365548,290933,7136928,3364,0,5,1,1,38000.0000,False
8,365549,290933,7136928,3365,0,5,3,0,38000.0000,False
9,365550,290933,7136928,3363,0,5,1,0,38000.0000,False
10,365551,370847,7136928,2947,0,6,0,0,31333.0000,False
11,365552,370847,7136928,2948,0,6,3,0,31333.0000,False
12,365553,370847,7136928,2946,0,6,2,0,31333.0000,False
13,365554,451200,7136928,2595,0,7,1,0,25666.0000,False
14,365555,451200,7136928,2593,0,7,1,0,25666.0000,False
15,365556,451200,7136928,2594,0,7,3,0,25666.0000,False
16,365557,478945,7136928,4492,0,8,1,0,25666.0000,False
17,365558,510488,7136928,4120,0,9,3,0,25000.0000,False
18,365559,543527,7136928,4696,0,10,1,0,29000.0000,False
19,365560,572018,7136928,6116,0,11,0,0,31000.0000,False
20,365561,621276,7136928,6173,0,12,0,0,26000.0000,False
21,365562,695703,7136928,6370,0,13,0,0,47000.0000,False
22,365563,869639,7136928,6879,0,14,2,1,72000.0000,False
23,365564,869639,7136928,6880,0,14,1,0,72000.0000,False
24,365565,869639,7136928,6877,0,14,1,0,72000.0000,False
25,365566,869639,7136928,6878,0,14,1,1,72000.0000,False
26,365567,1381521,7136928,7216,0,15,2,0,42750.0000,False
27,365568,1381521,7136928,7217,0,15,2,1,42750.0000,False
28,365569,1381521,7136928,7219,0,15,3,0,42750.0000,False
29,365570,1381521,7136928,7218,0,15,0,0,42750.0000,False

In [17]:
train_mini.shape

(26892, 10)

In [18]:
train_mini.to_csv('../data/train_mini.csv', index = False)